:root {
  --primary-color: #222222;
  --primary-hover-color: #eb4141;
  --secondary-color: #ffffff;
  --secondary-light-color: #777777;
  --background-color: #f5ecdd;
  --border-color: #e7dbc7
}

.header-center.open {
  display: block;
}

.header-center {
  /*display: none;*/
}

#content p {
  text-align: justify;
}