:root {
  --primary-color: #222222;
  --primary-hover-color: #eb4141;
  --secondary-color: #ffffff;
  --secondary-light-color: #777777;
  --background-color: #f5ecdd;
  --border-color: #e7dbc7
}

.header-center.open {
  display: block;
}

.header-center {
  /*display: none;*/
}

#content p {
  text-align: justify;
}

/* For Chrome, Safari, and Edge */
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.number-input {
  -moz-appearance: textfield;
}

button:disabled {
  opacity: 0.2 !important;
}